/*---------------------- RESET CSS ------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
    font-size: 62.5%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, del, ins {
  text-decoration: none;
}
a {	
  color: inherit;
}
label, button {
  cursor: pointer;
}
h1,h2,h3 {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box
}
*::before, *::after {
    box-sizing: inherit
}
input, button {
    outline: 0;
}
img {
    display: block;
    max-width: 100%;
}


/*---------------------- STYLES ------------------------*/
/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Raleway:ital,wght@0,700;1,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

/* HEADER */
.header {
    background-color: #c80000;
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 420;
    box-shadow: 0 3px 8px -4px rgb(80, 80, 80);
}

.header__title, .headband__title {
    color: white;
}

.header__title {
    font-size: 3rem;
    cursor: pointer;
}

.header__subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-left: 20px;
}

/* MAIN */
.main {
    flex-grow: 1;
}

.aside {
    position: fixed;
    left: 0;
    top: 50vh;
    background-color: #c80000;
    word-wrap: break-word;
    transform: translate(0, -50%);
    writing-mode: vertical-lr;
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-orientation: upright;
}

.aside:hover {
    padding: 0.5rem 1rem 0.5rem 4rem;
    box-shadow: 0 8px 8px -4px grey;
}

.headband {
    background-color: #666;
    padding: 1.5rem 0;
}

.headband__title {
    text-align: center;
    font-size: 1.5rem;
}

.headband__theme {
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/* FIGURINES VIEW */
.figs {
    width: 90vw;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.fig {
    position: relative;
    border: 2px solid #ccc;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 380px;
}

.fig:hover {
    background-color: #c80000;
    border: 2px solid #c80000;
    box-shadow: 0 8px 8px -4px grey;
}

/* FIGURINE HEADER */
.fig__badge {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    text-align: center;
    right: 2rem;
    top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    z-index: 42;
}

.fig__badge--promo {
    background: orange;
    border: 5px solid lightgray;
}

.fig__badge--new {
    background: green;
    border: 5px solid grey;
}

.fig__photo {
    width: 100%;
    margin: 0 auto 1rem auto;
    margin-bottom: 1.2rem;
}

.fig__opus {
    display: block;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: 1px solid;
    width: 100%;
    padding-bottom: 0.2rem;
}

.fig:hover .fig__opus {
    border-bottom: 1px solid;
    color: white;
}

.fig__title {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: bold;
}

.fig__sub {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* FIGURINE FOOTER */
.fig__add-to-cart {
    background-color: #c80000;
    padding: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: bold;
}

.fig:hover .fig__add-to-cart {
    background-color: white;
    color: #c80000;
}

.fig__cta {
    font-size: 1.5rem;
}

.fig__price-old {
    text-decoration: line-through;
    font-weight: normal;
    padding-right: 10px;
}

/* TRANSITIONS */
.fig, .fig__opus, .fig__add-to-cart, .aside {
    transition: all 0.3s ease-in;
}

.fig:hover, .fig:hover .fig__opus .fig:hover .fig__add-to-cart, aside:hover {
    transition: all 0.2s ease-out;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: grey;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding: 1rem 0;
}